.container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Catergories Dropdown */

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.page {
    height: auto;
    width: 1024px;
    background: white;
    display: block;
    position: absolute;
    top: auto;
    left: 50%;
    right: 50%;
    margin-top: auto;
    margin-left: -512px;
}
.Content
{
    height: 1092;
    width: 1024px;
    background: red;
    display: block;
    position: absolute;
    top: 50px;
    bottom: auto;
    left: 50%;
    right: 50%;
    margin-top: auto;
    margin-left: -512px;
}

/* Pornstars Dropdown */

.dropdown1 {
    float: left;
    overflow: hidden;
}

.dropdown1 .dropbtn1 {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.dropdown1:hover .dropbtn1 {
    background-color: red;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content1 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content1 a:hover {
    background-color: #ddd;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.page {
    height: auto;
    width: 1024px;
    background: white;
    display: block;
    position: absolute;
    top: auto;
    left: 50%;
    right: 50%;
    margin-top: auto;
    margin-left: -512px;
}

html,
.body
{
    padding: 0;
    margin: 0;
    background: black;
}

* {
    margin: 0px auto;
    padding: 0px;
}